body {
  margin: 0;
  padding: 0;
  display: flex;

  padding: 40px;
}

.canvas {
  border: 1px solid #c5c5c5;
}

.label {
  margin-right: 30px;
}

.list__frames {
  list-style: none;
  margin: 0;
  padding: 0;

  margin-right: 30px;
}

.frame__canvas {
  border: 1px solid #c5c5c5;
}
