.lang-list {
  .list-style;
  display: flex;
  justify-content: space-between;
}

.lang-list__link {
  .link-style;
  color: #454545;

  &:hover,
  &:active {
    color: #5f2f6a;
    border-bottom: 2px solid #5f2f6a;
  }
}

.lang-list__item--active {
  color: #454545;
  font-weight: 700;
  border-bottom: 1px solid #a3a3a3;
}

.lang-list__item {
  padding: 15px;
}


@media (min-width: @tablet-width) {
  .lang-list {
    width: 237px;
    letter-spacing: 0.3px;

    position: absolute;
    top: -130px;
    right: 0;
    padding: 0;
    background-color: transparent;
  }

  .lang-list__link,
  .lang-list__item--active {
    color: #959595;
  }

  .lang-list__item {
    position: relative;
    padding: 0;
  }

  .lang-list__item::after {
    content: "/";
    position: absolute;
    top: 0;
    right: -16px;
  }

  .lang-list__item:last-child::after {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .lang-list {
    padding-top: 22px;
    top: 0;
    left: 0;
  }
}
