.news__list {
  .list-style;
}

.news__text {
  margin: 0;
  font-family: "Malaga Narrow";
  font-style: italic;
  font-size: 24px;
  line-height: 31px;
  color: #101010;
}

.news__author {
  font-family: "Malaga Narrow";
  font-size: 16px;
  line-height: 32px;
  color: #727272;
  letter-spacing: 0.6px;
}
