@media (min-width: @tablet-width) {
}

@media (min-width: @desktop-width) {
  .page-footer {
    margin-top: 156px;
  }

  .page-footer__wrapper {
    display: flex;
    margin-left: 20px;
    margin-bottom: 72px;
  }
}
