html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  min-width: 1100px;
  margin: 0;
  padding: 0;

  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}

.container {
  min-width: 900px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2.3%;
}

.page-header {
  margin-bottom: 40px;
}

.page-title {
  margin: 0;
  font-size: 20px;
  font-weight: 500;

  padding: 16px 72px;
}

.page-main {
  display: flex;
  margin-bottom: 40px;

  background-color: rgb(255, 255, 255);
}

.wrapper {
  margin-right: 20%;
}

.colors__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.palette,
.colors {
  width: 228px;
  margin-bottom: 92px;
  box-shadow: 0px 4px 4px rgb(175, 175, 175), 0px 0px 4px rgb(218, 218, 218);
}

.colors__item {
  padding: 12px 20px;
  background-color: rgb(255, 255, 255);
}

.colors__item > span,
input[type="color"] {
  width: 23px;
  height: 23px;
  border: 1px solid rgb(201, 201, 201);
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle;
  box-shadow: 0px 4px 4px rgb(214, 214, 214), 0px 0px 4px rgb(199, 199, 199)
}

.colors__item > span {
  display: inline-block;
}

input[type="color"] {
  -webkit-appearance: none;
  padding: 0;
}

input[type="color"]::-webkit-color-swatch {
	border: none;
  border-radius: 50%;
}

input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}

input[type="color"]:focus {
  outline: none;
  box-shadow: 0 0 5px 3px rgb(219, 219, 219);
}

.previous-color {
  background-color: rgb(0, 255, 0);
}

.red-color {
  background-color: rgb(255, 0, 0);
}

.blue-color {
  background-color: rgb(0, 0, 255);
}

.palette__wrapper {
  display: flex;
  flex-direction: column;
  position: relative;

  padding: 20px 10px;
}

.fa-fill-drip,
.fa-eye-dropper,
.fa-arrows-alt,
.fa-exchange-alt {
  margin-right: 10px;
}

.palette__button {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: rgb(26, 26, 26);

  margin-bottom: 20px;
  padding: 10px 20px;
  text-align: left;
}

.palette__button:nth-child(2) {
  margin-bottom: 60px;
}

.palette__button:last-child {
  margin-bottom: 0;
}

.palette__wrapper::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: rgb(224, 224, 224);
  top: 161px;
  left: 0;
}

.canvas__blocks {
  width: 734px;

  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.canvas__item {
  width: 238px;
  height: 238px;

  background-color: rgb(206, 206, 206);
}

.circle {
  border-radius: 50%;
}

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;

  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

.over {
  border: 2px dashed rgb(100, 100, 100);
}

.background {
  background: radial-gradient(circle, rgb(63,94,251) 0%, rgb(252,70,107) 100%);
  outline: none;
  color: #ffffff;
}
